.page {
  padding: 16px 16px 96px 16px;
}

.section-container {
  padding: 16px;
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 24px;
}

.header {
  margin-left: 10px;
}

.header-title {
  margin-left: 10px;
  font-weight: bold;
}

.page-content {
  padding-top: var(--zaui-safe-area-top, 16px);
  padding-bottom: var(--zaui-safe-area-bottom, 16px);
  padding: 16px 16px 96px 16px;
}

.text-suggest {
  font-weight: 600;
}

.filter-selection {
  .zaui-select {
    height: 32px;
  }
}